venv/
.venv/
*.py[cod]
__pycache__/

# IDE и OS
.vscode/
.idea/
.vs/
*.code-workspace
.DS_Store
Thumbs.db

# env
.env
*.env

# Исключаем содержимое, но оставляем папки
data_raw/*
!data_raw/.gitkeep

data_processed/*
!data_processed/.gitkeep

analysis/figures/*
!analysis/figures/.gitkeep

# Автоматический отчет
analysis/report.md
