__pycache__/
*.py[cod]

.env
.venv/
*.env
*.venv

.vs/

.vscode/
.idea/
*.code-workspace


.DS_Store
Thumbs.db

data_raw/*
!data_raw/.gitkeep

data_processed/*
!data_processed/.gitkeep

analysis/figures/*
!analysis/figures/.gitkeep

analysis/report.md
